<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Custom Style -->
    <link rel="stylesheet" href="css/home_style.css">

    <!-- Font awesome CDN-->
    <script src="https://kit.fontawesome.com/0464853cff.js" crossorigin="anonymous"></script>

    <title>Q-Series</title>
  </head>
  <body>
    <div class="logo-home-div">
      <img src="images/logo3.png" alt="QSeries" class="logo-home">
    </div>
  <div class="sign-block">
    <button type="button" class="btn btn-outline-secondary btn-lg sign-in"><a href="/auth/google"
        class="sign-in-text"><i class="fab fa-google"></i> &nbsp; Sign-In</a></button>
    <p class="info"><i class="fas fa-info-circle"></i> &nbsp; Kindly sign in using institute email only.</p>
  </div>
<%- include("partials/footer") -%>
