body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.671)), url(../images/campus2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;   
}

@media only screen and (max-width: 767px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.671)), url(../images/campus2.jpg);    
  }
  
}

.sign-block {
  text-align: center;
  position: absolute;
  top:40%;
  left:40%;
}

.sign-in {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.info {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.sign-in-text , .sign-in-text:visited , .sign-in-text:hover , .sign-in-text:active {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width : 768px){
  .heading-title {
      font-weight: 600;
      font-size: 40px;
  }
  .title-emphasis {
      font-size: 25px;
      font-weight: bold;
  }

  .sign-block{
    left:8%;
  }
}

