body{
    /* background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

hr{
    border:none;
    height:20px;
    background-color:red;
}

/* Navbar */
#title, #events{
    padding: 10px 90px 25px 90px;
    color:black;
    font-size: 15px;
}
#title{
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}
.navbar-logo{
    width:80px;
    border-radius: 50%;
}
.navbar-toggler{
    color:black;
}
.user-pic{
    border-radius: 50%;
    width:40px;
}
.logout{
    color:black;
    font-weight: bold;
}
@media only screen and (max-width: 768px){
    #title{
        padding: 20px 50px 25px 50px;
    }
}
/* Events */
.upcoming{
    text-align: center;
    /* font-family: verdana,Geneva, Tahoma, sans-serif; */
    font-family: 'Dongle', Verdana;
    font-weight: bolder;
    font-size: 60px;
}
.event-pic{
    width:100px;
    border-radius: 50%;
}
.event-flyer{
    padding-top:80px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.event-name{
    font-family: 'Roboto Mono', monospace;
    text-decoration: solid;
}

/* Add Event */
#add-event{
    margin:auto;
    padding: 0px 50px 0 50px;
}
#del-event{
    margin:auto;
    padding: 0 50px 0px 50px;
}