html {
    position: relative;
    min-height: 100%;
}
body{
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0 0 200px;
}

hr:not([size]){
    border:none;
    height: 2.5px;
    color:orange;
    width:50%;
    margin:auto;
}

/* Navbar */
#title, #events{
    padding: 0 90px 0 90px;
    color:black;
    font-size: 15px;
    margin-bottom: 20px;
}
#title{
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}
.navbar-logo{
    width:80px;
    border-radius: 50%;
}
.navbar-toggler{
    color:black;
}
.user-pic{
    border-radius: 50%;
    width:40px;
}
.logout{
    color:black;
    font-weight: bold;
}
@media only screen and (max-width: 768px){
    #title{
        padding: 20px 50px 25px 50px;
    }
}
/* Events */
.tests{
    text-align: center;
    font-family: 'Dongle', Verdana;
    font-weight: bolder;
    font-size: 60px;
}
.event-pic{
    width:100px;
    border-radius: 50%;
}
.quiz-flyer{
    padding:40px 30px 30px 30px;
    width: 70%;
    margin:auto;
    border-style:solid;
    border-radius: 20px;
    border-color: rgb(255, 123, 0);
    background-color: #fff;
}
.quiz-info{
    position:relative;
    margin-left:30px;
    line-height: 1.5px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.event-name{
    font-family: 'Dongle', Verdana;
    text-decoration: solid;
    font-size: 40px;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
.event-description{
    font-family: 'Nunito Sans', sans-serif;
}
.startDate{
    font-family: 'Orbitron';
    font-size: 20px;
}
button:not(.navbar-toggler, .sub-btn){
    position:absolute;
    right:0;
    bottom:0px;
}
@media only screen and (max-width:767px){
    .tests{
        font-size: 40px;
    }
    button:not(.navbar-toggler){
        position:static;
        /* width:60px; */
        /* height:30px; */
        font-size: 12px;
        margin:auto;

    }
    .quiz-flyer{
        width:100%;
        text-align: center;
        padding:40px 40px 40px 0px;

    }
    .startDate, .event-description{
        font-size: 10px;
    }
    .event-name{
        font-size: 30px;
    }
    #events{
        margin-bottom: 60px;
    }

}

/* Add Event */
#add-event{
    margin:auto;
    padding: 0px 50px 0 50px;
}
#del-event{
    margin:auto;
    padding: 0 50px 0px 50px;
}

/* footer */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
footer{
    position: absolute;
    bottom:0;
    color: red;
    text-align: center;
    width:100%;
    padding:30px 0 30px 0;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    font-family: 'Sedgwick Ave', cursive;
    color: white;
    font-size: 20px;
    /* overflow: hidden; */
}