.event-title{
    margin:auto;
    padding : 0 50px 0 50px;
    font-size:50px;
    text-align: center;
    font-family: 'Dongle', Verdana;
}

.quiz-form{
    width:60%;
    float: right;
    margin-right: 10%;
    margin-bottom: 200px;
}

@media only screen and (max-width:768px){
    .event-title{
        font-family: 'Dongle', Verdana;
    }
    .timer-box{
        width:100%;
        position:static;
    }
    .quiz-form{
        width:99%;
        margin:auto;
        margin-bottom: 200px;
    }
}
.timer-box{
    margin-left:120px;
}
.timer{
    margin-left:auto;
    text-align: center;
    font-family: 'Orbitron';
    font-size: 30px;
    /* color:#fff; */
}
.timer-hours, .timer-minutes, .timer-seconds{
    float:left;
    background-color: #fff;
    padding:0 5px;
    margin:0 2px;
    width:100px;
    border-style: solid;
    border-color: orangered;
}

.question{
    font-size: 30px;
    font-family: 'Slabo 27px', serif;
}
.q-block{
    padding: 20px 20px 20px 20px;
    margin : 0px 50px 40px 50px;
    border-style: solid;
    border-color: orangered;
    border-width: 3px;
    border-radius: 30px;
    background-color: #fff;
    font-family: 'Slabo 27px', serif;
}
.opts{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin-top: 10px;
}
.for-button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.sub-btn{
    font-size: 25px;
    border-radius: 20px;
}
