.main-box{
    /* min-height: 100; */
}
.event-title{
    margin:auto;
    padding : 0 50px 0 50px;
    font-size:50px;
    text-align: center;
    font-family: 'Dongle', Verdana;
}

.quiz-form{
    height:40%;
    width:80%;
    position:fixed;
    right:0;
    overflow: auto;
    z-index:1;
}

.timer-box{
    height:70%;
    width:20%;
    position:fixed;
    left:0;
    z-index:1;
}

@media only screen and (max-width:768px){
    .event-title{
        font-family: 'Dongle', Verdana;
    }
    .quiz-form{
        width:100%;
        position:static;
    }
    .timer-box{
        width:100%;
        position:static;
    }
}
.timer{
    border:solid;
    width:90%;
    margin-left:auto;
    text-align: center;
    font-family: 'Orbitron';
    font-size: 30px;
}

.question{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.q-block{
    padding: 20px 20px 20px 20px;
    margin : 0px 50px 40px 50px;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
}
.opts{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 10px;
}
.for-button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.sub-btn{
    font-size: 25px;
    border-radius: 20px;
}
